<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Project</title>
  </head>
  <body>
    <h1>Welcome!</h1>

    <h3 id="app"></h3>

    <script>
      const socket = new WebSocket(
        "ws://https://coral-app-9ze4a.ondigitalocean.app/ws/counter/"
      );

      socket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log(data);

        document.querySelector("#app").innerText = data.message;
      };
    </script>
  </body>
</html>
